---
import { getPosts } from '../../../lib/api';

const { slug } = Astro.params;

import Layout from '~/layouts/Layout.astro';

export async function getStaticPaths() {
    let dinos = await getPosts();

    return dinos.map((post) => {
        return {
            params: { slug: post.slug },
            props: {
                title: post.title.rendered,
                content: post.content.rendered,
                image: post._embedded['wp:featuredmedia']['0'].source_url,

                // Spreading the Custom Fields into a meta object
                meta: {
                    ...post.acf,
                },
            },
        };
    });
}

const { title, content, image, meta } = Astro.props;
---

<Layout title={title}>
    <section class="w-full p-4">
        <figure class="bg-white flex justify-center rounded-sm">
            <img src={image} alt={title} />
        </figure>

        <div class="bg-slate-700 p-5 rounded-sm my-2">
            <h2>{title}</h2>
        </div>
        <div class="flex flex-col lg:flex-row">
            <div class="bg-slate-700 p-5 rounded-md my-2 w-1/2">
                <h3 class="text-4xl font-extrabold">Info</h3>
                <p>
                    <strong>Size:</strong>
                    {meta.size.replace('.', ' with a')}
                </p>
                <p><strong>Weight:</strong> {meta.weight}</p>
                <p><strong>Habitat:</strong> {meta.habitat}</p>
            </div>

            <article class="text-elipsis overflow-hidden lg:p-3">
                <Fragment set:html={content} />
            </article>
        </div>
    </section>
</Layout>
